html, body {
  min-height: 100%;
}

header {
  padding: 0 10px 5px 10px;
}

#logo-img {
  width: 164px;
  height: 74px;
}

.logo {
  width: 50%;
}
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
} 

.fa-search {
  margin-right: 20px;
}

.fa-bars {
  margin-right: 13px;
}

.icon-link {
  color: black;
}

.card-list-item {
  list-style: none;
}

.card-body {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.card-title {
  margin-bottom: 0.15rem;
}

.nav {
  margin-bottom: 10px;
}

.nav a {
  color: black;
}

#portfolio-group {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

#portfolio-group li .card-top {
  padding: 0 1.5rem 0 1.5rem;
}

.card-list-item {
  margin-bottom: 0.7rem;
}

.card-list-item .card{
  border: none;
  background-color: #b7c7ff;
  padding: 10px;
}

#root {
  min-height: 70vh;
}

footer {
  background: #24292E;  
  color: #fff;
}

footer, footer .row {
  min-height: 11vh;
}

footer i {
  color: #fff;
}

p {
  color: rgba(0,0,0,.54)!important;
}

.contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.corp {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  footer.container {
    max-width: 100%;
  }

  footer, footer .row {
    min-height: 18vh;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  #portfolio-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-list-item {
    width: 30%;
  }

  .card {
    min-height: 175px;
  }
  
  .card-top img {
    max-height: 65px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }